// miscelleneous styles

.howBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 128px;

  .hb-item {
    display: flex;
    width: 33%;
    align-items: baseline;
    img {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .hbi-right {
      .title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 177.6%;
        color: #333333;
      }
      .content {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 177.6%;
        color: #333333;
      }
    }
  }
}

.home-jumbotron {
  min-height: 100vh;

  .topHj {
    display: flex;
    .leftHj {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      padding-left: 94px;
      width: 50%;
      .lhj-top {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 83px;
        text-transform: capitalize;
        color: #ffffff;
        width: 90%;
        margin-bottom: 55px;
      }
      .lhj-bot {
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        width: 80%;
      }
    }
    .rightHj {
      img {
        padding-top: 80px;
      }
    }
  }
}
.bottom-section {
  display: flex;
  min-height: 100vh;

  .first-bs {
    padding: 111px 101px;
    width: 50%;
    display: flex;
    flex-direction: column;
    .fbs-f {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 75px;
      color: #333333;
      margin-bottom: 43px;
    }
    .fbs-s {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      color: #333333;
      width: 80%;
      margin-bottom: 55.22px;
    }
    .fbs-t {
      padding-left: 70px;
    }
    .fbs-ft {
      background: #ffffff;
      box-shadow: 0px 21px 45px rgba(30, 66, 138, 0.1);
      border-radius: 15px;
      display: flex;
      width: 70%;
      align-items: center;
      padding: 31px 21px;
      img {
        background: #ff4400;
        padding: 19.66px;
        border-radius: 50%;
        margin-right: 23px;
      }
      .fbs-ft-cont {
        flex-direction: column;
        .fbsft-t {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 40px;
          text-transform: capitalize;
          color: #333333;
        }
        .fbsft-b {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          color: #333333;
        }
      }
    }
  }
  .second-bs {
    padding-top: 79px;
    padding-right: 112.29px;
    width: 50%;
    display: flex;
    flex-direction: column;
    .fbs-ft {
      background: #ffffff;
      box-shadow: 0px 21px 45px rgba(30, 66, 138, 0.1);
      border-radius: 15px;
      display: flex;
      width: 70%;
      align-items: center;
      align-self: flex-end;
      padding: 31px 21px;
      .fbs-ft-img {
        background: #ff4400;
        padding: 19.66px;
        border-radius: 50%;
        margin-right: 23px;
      }

      .fbs-ft-cont {
        flex-direction: column;
        .fbsft-t {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 40px;
          text-transform: capitalize;
          color: #333333;
        }
        .fbsft-b {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          color: #333333;
        }
      }
    }
  }
}

.another-bottom-section {
  display: flex;
  .abs-left {
    width: 40%;
    padding-left: 100px;
    padding-bottom: 121px;
    padding-top: 131px;
    .absl-1 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 55px;
      line-height: 71px;
      color: #333333;
      margin-bottom: 51px;
    }
    .absl-2 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 36px;
      color: #505050;
      margin-bottom: 26px;
    }
    .absl-3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      text-decoration-line: underline;
      color: #ff4400;
      margin-bottom: 137px;
    }
    .absl-4 {
      background: #ffffff;
      box-shadow: 0px 21px 45px rgba(30, 66, 138, 0.1);
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 40px 38px;
      .absl-text {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .abslt-top {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -0.03em;
          color: #333333;
          margin-bottom: 25px;
        }
        .abslt-bot {
          font-family: Sarabun;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #333333;
        }
      }
    }
  }
  .abs-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 111px;
    padding-right: 102px;
    padding-left: 39px;
    .absl-4 {
      background: #ffffff;
      box-shadow: 0px 21px 45px rgba(30, 66, 138, 0.1);
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 40px 38px;
      width: 70%;
      margin-bottom: 87px;
      .absl-text {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .abslt-top {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -0.03em;
          color: #333333;
          margin-bottom: 25px;
        }
        .abslt-bot {
          font-family: Sarabun;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #333333;
        }
      }
    }
  }
}

.genericJumbo {
  .gjButton {
    .btn-orange {
      background-color: #ff4400;
      color: #fff;
      border-radius: 4px;
      padding-inline-start: 10px;
      padding-inline-end: 10px;
      font-size: 14px;
      transition: all 1s ease-out;
    }
    .btn-orange:hover {
      background-color: #fff;
      color: #ff4400;
    }

    .btn-link {
      color: #ff4400;
      transition: all 1s ease-out;
    }
    .btn-orange:hover {
      color: #fe7756;
    }
    // li.link-btn:hover, li.link-btn:active{
    //     background-color: #FE7756;
    // }
  }
  img[alt="jumbotron"] {
    //    position: absolute;
    max-width: 58%;
    //    right: 8%;
    //    top: 16%;
  }
  .mx-40 {
    margin-left: 170px;
    margin-right: 170px;
  }
}

section.categories {
  padding: 5% 10%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: rgba(196, 196, 196, 0.2);
  justify-content: space-between;
  .cat-item {
    width: 32%;
    background: #ffffff;
    border-radius: 21px;
    padding: 40px 42px;
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    .cat-img {
      background: #2626bc;
      border-radius: 50%;
      width: 74px;
      height: 74px;
      padding: 19px;
      margin-bottom: 18px;
    }
    .ci-title {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 43px;
      color: #333333;
      margin-bottom: 6px;
    }
    .ci-content {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      margin-bottom: 24px;
      flex-grow: 1;
    }
    .ci-footer {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      color: #263238;
      display: flex;
      align-items: center;
      justify-self: flex-end;
      img {
        margin-right: 11px;
      }
    }
  }
  .cat-item-2 {
    width: 32%;
    border-radius: 21px;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #333333;
    justify-content: center;
    margin-bottom: 42px;
  }
}

section.features {
  background-color: #ff4400;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 4%;
  h4 {
    color: #fff;
  }
  h6 {
    padding-block-start: 3%;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    line-height: 30px;
    text-transform: capitalize;
  }
  p {
    text-align: left;
    font-family: "Sarabun", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
  }
  .made4All {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    .m4A-item {
      display: flex;
      flex-direction: column;
      width: 33%;
      text-align: left;
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.03em;
        color: #ffffff;
        margin-bottom: 24px;
      }
      .content {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
      }
    }
  }
  .infographic {
    margin: 3% auto;
    padding: 2%;
    max-width: 90vw;
    padding: 4em 10em;
    .singlePhone Image {
      max-width: 92%;
    }
    .singlePhone:before {
      content: " ";
      background: #fff;
      display: inline-block;
      position: absolute;
      left: 96.5%;
      margin-top: 53px;
      margin-bottom: 70px !important;
      width: 3px;
      height: 82%;
      z-index: 400;
      border-radius: 1rem;
    }
    .singlePhone::after {
      content: " ";
      background: #fff;
      display: inline-block;
      position: absolute;
      left: 90%;
      margin-top: 83%;
      width: 30px;
      height: 3px;
      z-index: 400;
      border-radius: 1rem;
    }
    .special-row {
      margin-left: -28px !important;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 4fr;
      Image {
        max-width: 78%;
      }
      h6 {
        font-family: "Open Sans" sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 116.6%;
      }
      p {
        font-family: "Sarabun", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
      }
    }
  }
}

.features-two {
  padding: 6% 9%;
  ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 2.5rem;
    p {
      padding-block-end: 10px;
    }
  }

  /* Timeline vertical line */
  ul.timeline:before {
    content: " ";
    background: #ff4400;
    display: inline-block;
    position: absolute;
    left: 17.5px;
    width: 2px;
    height: 72%;
    z-index: 400;
    border-radius: 1rem;
  }

  li.timeline-item {
    margin: 0px 0;
    strong {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 116.6%;
      letter-spacing: -0.03em;
      color: #ff4400;
    }
    p {
      font-family: "Sarabun", sans-serif;
      font-size: 18px;
      line-height: 150%;
      color: #333333;
      opacity: 0.6;
    }
  }

  /* Timeline item circle marker */
  li.timeline-item::before {
    content: " ";
    background: #ff4400;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .thevideoSection {
    text-align: center;
    padding-bottom: 6%;
    video {
      width: 700px;
      height: 400px;
    }
  }
}

.wayaPos {
  .switchPos {
    background-color: gainsboro;
    .posButton {
      color: gray;
      background: none;
      font-weight: 600;
    }
    .posButton:hover,
    .active {
      color: #ffffff;
      background-color: #ff4400;
    }
  }
}

.last-jumbotron {
  background-color: #ff4400;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 82px;
  position: relative;
  height: 399px;

  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 68px;
    line-height: 102.6%;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
  p {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    max-width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  #homesection {
    .home-jumbotron {
      margin-top: -80px !important;
      .goDown {
        display: none;
      }
      h1 {
        font-size: 35px;
      }
      h1 + p {
        font-size: 13px;
        line-height: 180%;
      }
      img[alt="jumbotron"] {
        max-width: 68%;
        // right: 10vw;
        // top: 76vh;
      }
      .mx-40 {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .home-jumbotron .bannerLinks {
      > a {
        height: 42.5px;
        max-width: 170px !important;
      }
    }
    .genericJumbo {
      margin-top: 80vh;
    }
    section.features {
      padding: 0 1% !important;
      h4 {
        padding-top: 4%;
      }
      .infographic {
        margin: 0% auto;
        padding: 1em 10em;
        .singlePhone {
          display: none;
        }
      }
    }
    .features-two {
      .thevideoSection {
        video {
          width: 80vw !important;
          height: 60vh;
        }
      }
    }
    .last-jumbotron {
      padding-top: 0%;
      .col {
        padding-bottom: 8%;
        img {
          height: 42.5px;
          max-width: 180px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  #homesection {
    .home-jumbotron {
      margin-top: -80px !important;
      .goDown {
        display: none;
      }
      h1 {
        font-size: 35px;
      }
      h1 + p {
        font-size: 13px;
        line-height: 180%;
      }
      img[alt="jumbotron"] {
        max-width: 88%;
        // right: 10vw;
        // top: 76vh;
      }
    }
    .home-jumbotron .bannerLinks {
      > a {
        height: 42.5px;
        max-width: 100px !important;
      }
    }
    .genericJumbo {
      margin-top: 50vh;
      margin-left: -19vw;
      padding-right: 4vw;
    }
    .last-jumbotron {
      text-align: center;
      border-radius: 50px;
      margin-left: 5%;
      width: 90vw;
      img[alt="Phone in hand"] {
        display: none;
      }
      h1 {
        font-size: 47px;
      }
      p {
        font-size: 19px;
      }
    }
    .features-two {
      li.timeline-item {
        strong {
          font-size: 15px;
        }
        p {
          font-size: 13px;
        }
      }
      .thevideoSection {
        video {
          width: 85vw !important;
          height: 33vh;
        }
      }
    }
    section.features {
      .infographic {
        margin: 0% auto;
        padding: 1em 1em;
      }
    }
    .last-jumbotron {
      padding-top: 10% !important;
      .col {
        div.row {
          text-align: center;
          padding-left: 10%;
          padding-right: 20%;
          img {
            margin-bottom: 10%;
          }
        }
      }
    }
  }
}

// .wayaPosFeatures{
//     background-image: url('public/featuresbg.png');
// }
